h1{
  font-family: Time New Roman;
  color:red 
}

p1{
  font-family: Time New Roman;
  color:black
}

h2{
  font-family: Time New Roman;
  color:black
}

p2{
  font-family: Time New Roman;
  color:black
}

a{
  font-family: Time New Roman;
}

p1{
  font-family: Time New roman;
}

h2{
  font-famaily: Time New Roman;
  color: rgb(124, 37, 60)
}

h4{
  font-family: Time New Roman;
}
