h1{
  font-family: Time New Roman;
  color:red 
}
p1{
  font-family: Time New Roman;
  color:black
}
h2{
  font-family: Time New Roman;
  color:blue black
}
p2{
  font-family: Time New Roman;
  color:black
}
a{
  font-family: Time New Roman;
}

